<!DOCTYPE html>

<head>
    <title>Quan Ly Thu Chi Ca Nhan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/loaikhoanthu.css" />
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $(".ul_show_thu").hide();
        $('#touchtypeincome').click(function (e) {
            $(".ul_show_thu").show();
        });
    });
</script>
<style>
    .ul_show_thu {
        cursor: pointer;
        height: 200px;
        overflow: auto;
    }
</style>
<body data-spy="scroll" data-target=".navbar" data-offset="60">
    <!--Tiêu đề trang start-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://localhost:3000/<%= ID %>">HOME</a>
            </div>
            <div class="collapse navbar-collapse" id="header">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://localhost:3000/<%= ID %>/khoanchi" id="khoanchi">KHOẢN CHI</a></li>
                    <li><a href="http://localhost:3000/<%= ID %>/khoanthu" id="khoanthu">KHOẢN THU</a></li>
                    <li><a href="http://localhost:3000/<%= ID %>/loaichi">LOẠI KHOẢN CHI</a></li>
                    <li><a href="http://localhost:3000/<%= ID %>/loaithu">LOẠI KHOẢN THU</a></li>
                    <li><a href="http://localhost:3000/<%= ID %>/thongke">THỐNG KÊ</a></li>
                    <li><a href="http://localhost:3000/<%= ID %>/about">TÀI KHOẢN</a></li>
                    <li><a href="http://localhost:3000">ĐĂNG XUẤT</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Tiêu đề trang end-->
    <div class="text-center" id="Introduce">
        <h1>ĐÂY LÀ NHỮNG GỢI Ý CHI TIÊU CHO BẠN</h1>
        <p>HÃY BỔ SUNG NẾU BẠN MUỐN</p>
        <form class="form-inline">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tableSignIn">Thêm loại thu</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tableSignUp">Xoá bớt</button>
        </form>
    </div>
     <!--table them loai khoan thu start-->
     <div class="modal fade" id="tableSignIn" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Thêm loại khoản thu</h4>
                </div>
                <div class="modal-body">
                    <form action="/<%= ID %>/loaithu/them" method="POST" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="usr">Tên:</label>
                            <input type="text" class="form-control" id="addnewtypeincome" name="addnewtypeincome">
                        </div>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-default">Thêm</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
    <!--table them loai khoan thu End-->
    <!--table xoa loai khoan thu start-->
    <div class="modal fade" id="tableSignUp" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Xoá loại khoản thu</h4>
                </div>
                <div class="modal-body">
                    <form action="/<%= ID %>/loaithu/xoa" method="POST" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="usr">Tên:</label>
                            <input type="text" class="form-control" id="touchtypeincome" name="deletetypeincome">
                            <ul class="ul_show_thu">
                                <% typethu.rows.forEach(function(item){ %>
                                <li class='li'><%= item.name %></li>
                                <% }) %>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-default">Xoá</button>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
    <!--table xoa loai khoan thu End-->
    <div class="list-type3">
        <ul class="ul_thu">
            <% typethu.rows.forEach(function(item){ %>
            <li class='li_thu'><a><%= item.name %></a></li>
            <% }) %>
        </ul>
    </div>
</body>
<script>
    $('.ul_show_thu').on('click', 'li', function () {
        var temp = $(this).html();
        $("#touchtypeincome").attr("value" , temp);
    });
</script>

</html>